NG_APP_FIREBASE_API_KEY=AIzaSyC2WBxj-U0dbtIPNjm-pckXT5nOOA-ZxuU
NG_APP_FIREBASE_AUTH_DOMAIN=vetnow-51ee2.firebaseapp.com
NG_APP_FIREBASE_PROJECT_ID=vetnow-51ee2
NG_APP_FIREBASE_STORAGE_BUCKET=vetnow-51ee2.firebasestorage.app
NG_APP_FIREBASE_MESSAGING_SENDER_ID=980643239772
NG_APP_FIREBASE_APP_ID=1:980643239772:web:8488ed358bb4f6ef459399
NG_APP_FIREBASE_MEASUREMENT_ID=G-R1MMTLCHSL
