<ng-container [ngSwitch]="isError">
  <div class="mt-4">
<div [className]="isError&&errorColor">
<h3 class="mb-2 font-body text-sm {{isSettings?'text-lg font-normal text-gray-800':'text-gray-600'}}" *ngIf="title!=null">{{title}}</h3>
<ng-container [ngSwitch]="inputType">
<input class="flex justify-between transition-all duration-200 w-full {{isSettings?'h-10':'h-9'}} rounded-lg px-3 font-body text-sm {{isSettings?'border border-gray-200 focus:border-brand focus:ring-2 focus:ring-brand/10':'border border-gray-200 bg-surface-muted focus:border-brand focus:ring-2 focus:ring-brand/10 focus:bg-white'}} outline-none" *ngSwitchCase="'text'" type="text" [(ngModel)]="inputValue" (input)="onInputChange()" [size]="size?size:20"/>
<input class="flex justify-between transition-all duration-200 w-full {{isSettings?'h-10':'h-9'}} rounded-lg px-3 font-body text-sm {{isSettings?'border border-gray-200 focus:border-brand focus:ring-2 focus:ring-brand/10':'border border-gray-200 bg-surface-muted focus:border-brand focus:ring-2 focus:ring-brand/10 focus:bg-white'}} outline-none" *ngSwitchCase="'password'" type="password" [(ngModel)]="inputValue" (input)="onInputChange()"/>
</ng-container>
</div>
  </div>
</ng-container>
