<div class="flex {{ type != 'checkbox' ? 'flex-col' : 'flex-row' }} gap-2">
  <label [for]="id" class="my-auto flex h-4 text-black text-lg font-normal font-['Inter']"
    >{{ label }}:</label
  >
  <div>
    <ng-container [ngSwitch]="type">
      <input
        *ngSwitchCase="'text'"
        type="text"
        [placeholder]="placeholder"
        [id]="id"
        [name]="name"
        class="w-full h-9 bg-white rounded-xl border border-black border-opacity-50 text-xl px-1"
      />
      <input
        *ngSwitchCase="'file'"
        type="file"
        [id]="id"
        [name]="name"
        class="w-full border-1 border-black rounded-xl h-9 border-opacity-50 flex"
      />
      <textarea
        *ngSwitchCase="'description'"
        placeholder="{{ placeholder }}"
        [name]="[name]"
        [id]="id"
        cols="30"
        rows="10"
        class="h-40 w-full border-1 border-black rounded-xl border-opacity-50 p-1 flex"
      ></textarea>

      <div class="flex">
          <div class="checkbox-wrapper-31" *ngIf="type === 'checkbox'">
            <input type="checkbox" />
            <svg viewBox="0 0 35.6 35.6">
                <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                <polyline
                class="check"
                points="11.78 18.12 15.55 22.23 25.17 12.87"
                ></polyline>
            </svg>
        </div>
    </div>
        
    </ng-container>
</div>
</div>
