<div class="">
  <app-page-title-container
    title="Workspace"
    subtitle="Vet station settings"
  ></app-page-title-container>
  <div class="flex  m-auto justify-evenly gap-3">
    <div class="flex flex-col w-2/5 gap-3">
      <app-input type="text" label="Station Name"></app-input>
      <app-input type="file" label="Station title image"></app-input>
      <app-input type="description" label="Station Description"></app-input>

      <div class="w-full flex-row flex-wrap gap-1 ">
        <h2 class="text-2xl">Accessibility</h2>
        <div class="flex flex-col ml-10">
          <div *ngFor="let i of accessibilityAndMobilityButtons">
            <app-input
              type="checkbox"
              *ngIf="i.id < 3"
              [label]="i.name"
            ></app-input>
          </div>
        </div>
      </div>

      <div class="w-full flex-row flex-wrap gap-2">
        <h2 class="text-2xl">Mobility</h2>
        <div class="flex flex-col ml-10">
          <div *ngFor="let i of accessibilityAndMobilityButtons">
            <app-input
              type="checkbox"
              *ngIf="i.id >= 3"
              [label]="i.name"
            ></app-input>
          </div>
        </div>
      </div>

      <app-input type="text" label="Station Email"></app-input>
      <app-input type="text" label="Station Phone"></app-input>
      <app-input type="text" label="Address"></app-input>
      <label class="my-auto flex h-4 text-black text-lg font-normal font-['Inter']"
      >Choose on map:</label
    >
<!-- <google-map/> @TODO - make google map work -->
    </div>


   
  </div>
</div>
