<div class="card w-96 overflow-hidden">
  <ul class="divide-y divide-gray-100" *ngFor="let i of array; let first = first">
    <a [routerLink]="i?.link"
       class="flex items-center gap-3 px-5 h-14 text-gray-800 font-medium font-body text-sm
              hover:bg-surface-hover transition-colors duration-150 cursor-pointer">
      <fa-icon *ngIf="i?.icon" [icon]="i!.icon!" class="text-gray-400 w-5 text-center"></fa-icon>
      <div *ngIf="!i?.icon" class="w-5"></div>
      <li class="list-none hover:text-brand transition-colors">{{i?.text}}</li>
    </a>
  </ul>
</div>
